.Sidebar {
    width: 20%;
    height: 90vh;
    background-color: #1a1919;
}
.Sidebar__buttons-wrapper {
    height: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.Sidebar__button {
    width: 100%;
    cursor: pointer;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 36px;
    line-height: 46px;
    color: white;
    margin-bottom: 15px;
    transition: 0.18s;

}
.Sidebar__button:hover {
    border-left: 2px dashed white;
    transition: 0.18s;
}